table{
    border-collapse: collapse;
}
td {
    border: 1px solid rgba(116, 116, 116, 0.557);
}
table div {
    position: absolute;
    width: 12px; height: 9px;
    font-size: 8px;
    border-radius: 4px;
    text-align: center;
    background-color: rgba(23, 59, 217, 0.72);
    color: white;
    transform: translateX(70px);
}
.css {
    transform: translateX(80px);
}

tr:nth-child(even) {
    background-color: rgba(168, 172, 174, 0.461);
}
tr:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}
#header {
    background-color: rgba(78, 197, 221, 0.81);
    color: white;
}